h1{
  background:rgb(38, 19, 237);
  padding: 0.5em;
}
h1{
    color:rgb(231, 228, 228);
}

body{
    background-color: #d0e8f3;
}

h2{
    background:rgb(72, 57, 233);
    color:rgb(231, 228, 228);
}

h3{
    background:rgb(116, 105, 240);
    color:rgb(231, 228, 228);
}