h1{
  background:#2b799e;
  padding: 0.5em;
}
h1{
    color:rgb(231, 228, 228);
}

body{
    background-color: #addef5;
}

h2{
    background:#499fc7;
    color:rgb(231, 228, 228);
}

h3{
    background:#7bc3e5;
    color:rgb(231, 228, 228);
}