h1{
  background: #05445e;
  padding: 0.5em;
}
h1{
    color:rgb(231, 228, 228);
}

body{
    background-color: #d0e8f3;
}

h2{
    background:rgb(75, 75, 231);
}

h3{
    background:rgb(100, 100, 232);
}